/*Alternate itempage*/
.itemBackdrop {
  height: 31vh !important;
  display: inherit;
}
.layout-desktop .detailRibbon {
  margin-top: 0;
  padding-top: .5em;
  padding-bottom: .5em;
  background: rgba(255,255,255,.2) !important;
}
